body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 span {
    color: #ff9900;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

span {
    font-weight: bold;
    color: #007BFF;
}
form input[type="text"] {
    height: 40px;
    margin-right: 5px;
}

.modern-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #005bab;
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


.contact-info {
    margin-left: 20px;
}

address {
    margin: 5px 0;
}
